.toast.success {
  background-color: #22c35e;
}

.toast.error {
  background-color: #e53e3e;
}

@keyframes enter-toast-left {
  0% {
    transform: translateX(-200px);
  }
  90% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes enter-toast-right {
  0% {
    transform: translateX(200px);
  }
  90% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes remove-toast-left {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-200px);
  }
}

@keyframes remove-toast-right {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(200px);
  }
}

.toast {
  min-width: 200px;
  padding: 8px 16px;
  border-radius: 4px;
  margin-bottom: 10px;

  color: #fff;

  display: flex;
  justify-content: space-between;

  animation-duration: 500ms;
  animation-timing-function: ease-out;
}

.toast.top-left,
.toast.bottom-left {
  animation-name: enter-toast-left;
}
.toast.top-right,
.toast.bottom-right {
  animation-name: enter-toast-right;
}

.toast.remove-toast.top-left,
.toast.remove-toast.bottom-left {
  animation-name: remove-toast-left;
}
.toast.remove-toast.top-right,
.toast.remove-toast.bottom-right {
  animation-name: remove-toast-right;
}

.toast button {
  border: 0px solid transparent;
  background-color: transparent;
  color: #fff;
  font-size: 12px;
  display: flex;
  cursor: pointer;
}
